/* Ici vos styles CSS*/
body {
    background-color: #e3f1ef;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width:1200px;
    margin-right:auto;
    margin-left:auto;
}

h1 {
    background-color: #0ac3a7;
    color:#fff;
    font-size: 60px;
}

h2 {
    color: #109b88;
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    text-transform: uppercase;
    font-style: italic;
}

span {
    font-size: 100px;
}

strong {
    background-color: #ffff00;
}

p {
    text-align: left;
    line-height: 30px;
}

p em {
    text-decoration: overline;
    font-style: italic;
}

.fondjaune {
    background-color: #ffffe0;
    text-align: center;
}

section {
    background-color: #fff;;
}

ul {
    text-align: left;
}

#selecteur {
    border: 1px solid #000;
    border-radius: 15px;
}

a {
    color:#fff;
}

a:hover {
    text-decoration:none;
    color:red;
}

#liens {
    color: #000;
    font-size: inherit;
}

#footer {
    background-color: #0ac3a7;
    color:#fff;
    text-align: center;
}

